@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #050507;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #1a202c;
  text-align: center;
  line-height: 1.25;
}

span {
  color: #6415ff;
}

p {
  line-height: 1.5;
  font-size: 18px;
  text-align: center;
}

li {
  list-style-type: none;
}

.row {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.container {
  padding: 50px 0;
}

.section__subtitle {
  margin-bottom: 20px;
  font: weight 900px;
}

.btn {
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  transition: all 300ms ease;
  cursor: pointer;
}

/*NAVIGATION BAR */

.nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__row {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link--list {
  color: #09090c;
  display: flex;
  gap: 24px;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.nav__link--anchor {
  text-decoration: none;
  list-style-type: none;
}
.nav__logo {
  display: flex;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
}

.company__name {
  font-size: 26px;
  font-weight: 900;
  justify-content: center;
  align-items: center;
}

.nav__link--anchor-primary {
  margin: 0px 0px 2px;
  padding: 10px 32px;
  margin-top: 2px;
  border-radius: 9999px;
  color: #ffff;
  background-color: #6415ff;
  line-height: 1.5;
  border: none;
  width: auto;
  transition: all 300ms ease;
}

.nav__link {
  font-size: 12px;
  font-weight: 600;
  position: relative;
  margin: 0 24px;
  letter-spacing: 0 0.35px;
  text-decoration: none;
}

.class__login {
  margin-left: 48px;
}

/*LANDING*/

header .container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  padding: 96px 0;
  margin: 28px auto;
}

header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__landing {
  height: 100%;
  width: 40%;
}
.landing__h1 {
  text-align: left;
  padding: 0 16px 16px 0px;
}

.landing__para {
  font-size: 18px;
  line-height: 1.5;
  padding: 32px 0;
  text-align: left;
}

.logo__strip--img {
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
}

.right {
  width: 60%;
  padding: 0px 60px;
}

.header_img {
  width: 60%;
}

img {
  width: 100%;
}

h1 {
  font-size: 48px;
  line-height: 1.25;
  padding: 0px 16px 16px 16px;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__email--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
}
.header__email--btn:hover {
  background-color: rgba(60, 13, 153);
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}
.header__email--input::placeholder {
  font-weight: 500;
  color: rgb(158, 170, 189);
}
.header__email--input:hover {
  border-color: rgba(160, 174, 192);
}
.header__email--input:focus,
.header__email--input:active {
  outline: none;
  border-color: rgba(100, 21, 255);
}

.trusted__customers {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
}

/* Features Section 

.features {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 25%;
  max-width: 200px;
  padding: 32px;
  position: relative;
}

.features__row {
  display: flex;
  flex-direction: row;
}

.features__container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  padding: 96px 0;
  margin: 28px auto;
}

.features__img {
  width: 100%;
  max-width: 100px;
  height: 100%;
}

.features__img--wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 25px 16px;
}

.features__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.features__para {
  width: auto;
  font-size: 16px;
  padding: 36px 0;
  line-height: 1.5;
  text-align: center;
  justify-content: center;
  max-width: 576px;
}

.section__subtitle {
  padding: 28px 0;
  font-weight: 900;
}

.features__h3 {
  position: absolute;
}
  /*

.features {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
}

.features__img {
  width: 100%;
  max-width: 100px;
}

.features__img--wrapper {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature__name {
  position: relative;
  top: 0;
}

.features__list {
  display: flex;
  width: 100%;

  flex-wrap: wrap;
  justify-content: center;
}
*/

/*PRICING */

.card {
  width: 300px;

  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.card_2 {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 119, 255, 1);
  color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card__2 {
  color: #f7f7f7;
}
.card_3 {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/*Testimonial*/

.testimonials__picture--mask {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.director__photo {
  width: 100%;
  transform: scale(1.5);
  padding-top: 8px;
}
/* improving picture */

.testimonial__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/*FOOTER */

.footer__container {
  height: 100px;
  width: 100%;
}

#footer__row {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #6415ff;

  justify-content: space-between;
  align-items: center;
}

.footer__list--links {
  display: flex;
  color: #f7f7f7;
}

.footer__name {
  font-size: 26px;
  font-weight: 900;
  justify-content: center;
  align-items: center;
}
.footer__divider {
  width: 100%;
  height: 2px;
  margin: 64px 0;
  background: rgb(116, 44, 255);
}

.footer__signoff--logo {
  display: flex;
}

.footer__logo--img {
  height: 40px;
  width: 40px;
}

.footer__tag {
  align-items: center;
}

.footer__signoff {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 48px;
}

.social__media--links {
  color: #f7f7f7;
  font-size: 20px;
}

/*Blogs */

.quality__container {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  padding: 96px 0;
  margin: 28px auto;
}

.quality__row {
  display: flex;
  justify-content: space-between;
}

.quality__work {
  height: 100%;
  width: 50%;
  max-width: 576px;
  margin-right: 64px;
  padding: 0 48px 0 0;
}

.quality__title {
  padding: 0 24 0 24px;
  text-align: left;
  letter-spacing: 0.25em;
}

.quality__subtitle {
  font-size: 48px;
  line-height: 1.25;
  padding: 0px 16px 16px 0px;
  text-align: left;
  font-weight: 900;
}

.quality__para {
  font-size: 18px;
  line-height: 1.5;
  padding: 16px 0;
  flex-wrap: wrap;
  text-align: left;
}

.quality__img--wrapper {
  width: 50%;
  height: 100%;
}

.quality__img {
  height: 100%;
  width: 100px;
}

/*STEPS*/

.steps__img--wrapper {
  width: 50%;
  height: 100%;
}

.img__steps {
  width: 100%;
  height: 100%;
}
.steps__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
}

.three__steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  padding: 0 48px;
}

.steps__number {
  font-size: 32px;
  font-weight: 700;
  opacity: 0.25;
  display: flex;
}

.steps__number--group {
  display: flex;
  flex-direction: column;
}

.steps__title {
  font-weight: 700;
  font-size: 16px;
  color: #1a202c;
  padding: 16px 0;
  text-align: left;
  letter-spacing: 1.6px;
}

.steps__subtitle {
  text-align: left;
  font-size: 48px;
  font-weight: 900;
  padding: 16px 0;
  letter-spacing: 0.025em;
}

.steps__number--title {
  font-size: 18px;
  font-weight: 700;
  color: #1a202c;
  padding: 16px 0;
}

.steps__paragraph {
  font-size: 16px;
  line-height: 1.5;
  padding: 16px 0;
  text-align: left;
  color: #a0aec0;
  display: flex;
}

.number__para {
  display: flex;
  
  text-align: left;
}
